body {
    position: relative;
    font-family: Arial, sans-serif;
}

.spacer {
    padding: 2em 0;
}

.nav {
    transition: all 0.5s ease;
}

.navbar {
    text-align: center;
}

.nav-scrolled {
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.navbar-nav .nav-link.active::after {
    content: '';
    display: block;
    border-radius: 15px;
    width: 15px;
    height: 2px;
    background-color: #000;
    margin: 1px auto 0 auto;
    transition: width 0.5s ease;
}

.navbar-nav .nav-link.active:hover::after {
    width: 95%;
}

.navbar-nav .dropdown-menu {
    transform: translateX(-50%) !important;
    left: 50% !important;
    text-align: center;
}

.navbar-nav .dropdown-menu.show {
    position: absolute;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    display: block;
    margin-top: 0;
}

.navbar-nav .dropdown-menu .nav-link, .navbar-nav .dropdown-menu .dropdown-item {
    background-color: transparent;
    color: dimgray;
}

.navbar-nav .dropdown-menu .nav-link:hover, .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: rgba(150, 150, 150, 0.3);
}

#hero {
    background: linear-gradient(rgba(255, 255, 255, 0.51), rgba(205, 209, 211, 0.01)), url(../assets/img/hero.png) no-repeat center;
    background-size: cover;
    height: 30em;
}