body {
    background: linear-gradient(170deg, #20c997, #20c997 30%, #a0d8e8 60%, #f8b3d0 100%);
    height: 100vh;
    margin: 0;
}

.container {
    background: var(--bs-body-bg);
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.3) 0 3px 10px;
}

.container h1 {
    padding: 0 5em;
}

.container a {
    width: 100%;
    padding: 1em 0;
    margin-bottom: 1em;
}

.container a img {
    padding-bottom: 0.2em;
}