/* Carousel Section */
.floating-alert {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 80%;
    max-width: 600px;
}

.carousel {
    position: relative;
    margin-top: 70px;
    max-height: 100vh;
}

.carousel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--carousel-bg);
    background-size: cover;
    background-position: center;
    filter: blur(40px);
    z-index: 0;
    transform: scale(1.1);
}

.carousel-item img {
    max-width: 80%;
    width: auto;
    height: auto;
    max-height: calc(100vh - 70px);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 1;
    margin: 0 auto;
    position: relative;
}

.carousel-control-prev, .carousel-control-next {
    width: auto;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: 2%;
}

.carousel-control-next {
    right: 2%;
}

/* Silhouettes Section */
#silhouettes {
    padding: 0;
    margin: 0;
}

#silhouettes img {
    width: 100%;
}

/* Video Section */
#video {
    background-color: var(--bs-secondary-bg);
    align-content: center;
}

#video video {
    width: 100%;
}

.btn.btn-primary {
    transition: transform 0.4s;
}

.btn.btn-primary:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.back-to-top{
    transition: transform 0.4s;
}

.back-to-top:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.silhouette {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.silhouette.show {
    opacity: 1;
    transform: translateY(0);
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.prev {
    left: 450px;
}
.next {
    right: 450px;
}

.explore-btn {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #52b69a;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position: relative;
    margin-bottom: 20px;
}

.explore-btn:hover {
    background-color: #52b69a;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    overflow-x: auto;
    padding: 20px 0;
    scroll-snap-type: x mandatory;
    transition: transform 0.1s ease-in-out;
}

.slide-image {
    flex: 0 0 auto;
    opacity: 0.5;
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
    scroll-snap-align: center;
    margin: 0;
}

.slide-image img {
    height: 150px;
    width: auto;
    transition: all 0.1s ease-in-out;
}

.slide-image.active {
    transform: scale(1.2);
    opacity: 1;
}


.slide-image.active img {
    height: 250px;
}

#image-accordion {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-color: var(--bs-secondary-bg);
}

.accordion {
    display: flex;
    width: 90%;
    max-width: 1000px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    gap: 5px;
}

.accordion .panel {
    flex: 2;
    min-width: 80px;
    cursor: pointer;
    overflow: hidden;
    transition: flex 0.5s ease-in-out;
    position: relative;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion .panel img {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center center;
    background-color: white;
    transition: transform 0.5s ease-in-out;
    border-radius: 20px;
}

.accordion .panel:hover,
.accordion .panel.active {
    flex: 4;
}

.silhouette-container {
    display: none;
}

.silhouette-container.active {
    display: block;
}