/* Carousel Section */
.floating-alert {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 80%;
    max-width: 600px;
}

.carousel {
    position: relative;
    margin-top: 70px;
    max-height: 100vh;
}

.carousel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--carousel-bg);
    background-size: cover;
    background-position: center;
    filter: blur(40px);
    z-index: 0;
    transform: scale(1.1);
}

.carousel-item img {
    max-width: 80%;
    width: auto;
    height: auto;
    max-height: calc(100vh - 70px);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 1;
    margin: 0 auto;
    position: relative;
}

.carousel-control-prev, .carousel-control-next {
    width: auto;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: 2%;
}

.carousel-control-next {
    right: 2%;
}

/* Silhouettes Section */
#silhouettes {
    padding: 0;
    margin: 0;
}

#silhouettes img {
    width: 100%;
}

/* Video Section */
#video {
    background-color: var(--bs-secondary-bg);
    align-content: center;
}

#video video {
    width: 100%;
}

.btn.btn-primary {
    transition: transform 0.4s;
}

.btn.btn-primary:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.back-to-top{
    transition: transform 0.4s;
}

.back-to-top:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.silhouette {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.silhouette.show {
    opacity: 1;
    transform: translateY(0);
}

.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
}
.slider .active + .slide-image {
    scale: 1;
    margin: 10px;
}
.slide-image:has(+ .active) {
    margin: 10px;
    scale: 1;
}

.slider .active + .slide-image > img{
    height: 150px;
    width: auto;
}
.slide-image:has(+ .active) > img{
    height: 150px;
    width: auto;
}

.slide-image {
    flex: none;
    /*margin: 10px;*/
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
    scale: 0;
}
.slide-image img {
    width: 0;
    height: 0;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.slide-image.active {
    flex: 0 0 500px;
    opacity: 1;
    margin: 10px;
    scale: 1;
}
.slide-image.active img {
    width: auto;
    height: 500px;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.prev {
    left: 150px;
}
.next {
    right: 150px;
}